kaggle
numpy
pandas
matplotlib
jupyterlab
torch
spacy
seaborn
transformers
fuzzywuzzy
python-Levenshtein
tqdm
torchsummary
torchvision
ipywidgets
trueskill
wandb
scikit-learn
sentence-transformers
datasets
wordcloud
gensim
pyldavis